pytest
parametrize_from_file
pytest-reportlog
pytest-html
cython
tqdm
rich
mkdocs-material
mdx-include 
mkdocs-redirects
cairosvg
mkdocs-autorefs
griffe-typingdoc
mkdocs-macros-plugin
markdown-include-variants
pymdown-extensions
mkdoxy
mkdocs-monorepo-plugin
mkdocs-auto-refresh-build-pages
reloadserver